.pure-form legend {
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: .3em;
    color: #333;
    border-bottom: 0px solid #e5e5e5;
}

.pure-form-aligned select, .pure-form select {
    width: 42.3% !important;
    box-sizing: content-box !important;
    padding: 1px 2px !important;
    border: 2px inset rgb(118, 118, 118) !important;
}

.avatar-preview {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #ccc;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #0078e7;
    color: #fff;
    margin-bottom: 10px;
}

.content-city {        
    padding: 15px;
    font-size: 18px;
    color: #7d9fc4;
    }

.pure-form-rmstore {
    margin: auto;    
}

.pure-table {
    margin-top: 10px;
    margin-bottom: 10px;

}    
